<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }
        .menu {
            float:left;
            width:20%;
            text-align:center;
        }
        .menu a {
            background-color:#e5e5e5;
            padding:8px;
            margin-top:7px;
            display:block;
            width:100%;
            color:black;
        }
        .main {
            float:left;
            width:100%;
            padding:0 20px;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        @media only screen and (max-width:620px) {
            /* For mobile phones: */
            .menu{
                width:20%;
            } .main{
                width:80%;
            }
        }

        .btn-off {
            background: #555555;
            color: white;
        }

    </style>
</head>

<script>
function hide() {
    var x = document.getElementById("myImage");
    var y = document.getElementById("hideImage");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.value = "隐藏故事"
    } else {
        x.style.display = "none";
        y.value = "展开故事"
    }
}
</script>

<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
    <h1 id="C1">剧本杀2333</h1>
    <p style="display: inline">User ID:</p>
        {% if msg_info %}
            <p id="u_name" style="display: inline-block"> {{ msg_info["u_name"] }}</p>
        {% endif %}
        <br>
    <label id="ap"></label>
</div>

<div style="position: sticky; top: 0;">
    <div class="menu">
        <a href="#C1">回到顶部</a>
        <a href="#C2">故事</a>
        <a href="#C3">搜证</a>
        <a href="#C4">证据</a>
        <a href="#C5">投票</a>
    </div>
</div>

<div style="overflow:auto">
    <div class="main">
    <h2>角色🎭</h2>
    {% if msg_info %}
        <div id="ch_name">{{ msg_info["ch_name"] }}</div>
    {% endif %}

    <h3 id="C2">故事</h3>
    <input type="button" id="hideImage" value="展开故事" onclick="hide()">
    <img id="myImage" src="{{ url_for("static", filename=msg_info["ch_name"]+".jpg") }}" alt="story" style="display:none;", onclick="hide()">
    <hr>


    <h3 id="C3">搜证</h3>
    <button id="btn1" class="btn-off" onclick="if (confirm('Are you sure?')) { start_round1(); } else { return false; }">一轮搜证</button>
    <button id="btn2" class="btn-off" onclick="if (confirm('Are you sure?')) { start_round2(); } else { return false; }" style="display:none;">二轮搜证</button>
    <br>
    <br>
    <table id="locations"></table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $.get("/locations/", function(data) {
            var i, num;
            var key_list = Object.keys(data);
            for (i = 0; i < key_list.length; i++) {
                if (i < 10) {
                    num = "0"+(i+1).toString();
                } else {
                    num = (i+1).toString();
                }
                $("#locations").append($('<tr />', {id: "cloumn_"+key_list[i]}));
                $("#cloumn_"+key_list[i]).append($('<td />', {id: "name"+key_list[i]}));
                $("#name"+key_list[i]).append($('<p />', {style: "display:inline;margin-right:20px", text: data[key_list[i]]}));
                $("#cloumn_"+key_list[i]).append($('<td />', {id: key_list[i]}));
                $("#"+key_list[i]).append($('<p />', {id: "p_num"+num, style: "display:inline", text: "0"}));
                $("#"+key_list[i]).append(" / ");
                $("#"+key_list[i]).append($('<p />', {id: "p_num_total"+num, style: "display:inline", text: "0"}));
                $("#cloumn_"+key_list[i]).append($('<td />', {id: "b"+key_list[i]}));
                $("#b"+key_list[i]).append($('<button />', {id: "p"+num, type:"text", class:"btn-off", style: "margin-left:10px",
                    onclick:"find_clue()", text: "搜证"}));
                $("#own_clues").append($('<button />', {id:"col"+num, class:"collapsible", onclick: "collapsible_btn(this.id)",text:data[key_list[i]]}));
                $("#own_clues").append($('<div />', {id:"clue_div"+num, class:"content"}));
                $("#clue_div"+num).append($('<ol />', {id:"clues_in_p"+num}));

                $("#revealed_clues").append($('<button />', {id:"revealed_col"+num, class:"collapsible", onclick: "collapsible_btn(this.id)", text:data[key_list[i]]}));
                $("#revealed_clues").append($('<div />', {id:"revealed_clue_div"+num, class:"content"}));
                $("#revealed_clue_div"+num).append($('<ol />', {id:"revealed_clues_in_p"+num}));

            }
        });
    });

    function collapsible_btn(id) {
        var x = document.getElementById(id);
        x.classList.toggle("active");
        var content = x.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
    }

    function start_round1() {
        var x = document.getElementById("btn1");
        var y = document.getElementById("btn2");
        x.style.background = "white";
        x.style.color = "black";
        y.style.display = "inline";
        setTimeout(function round1() {
            var user_name = $("#u_name").text().trim();
            $.ajax({
                url: "/start_round1/",
                type: "get",
                data: {name_ready_for_1: user_name},
                success: function round1_s(data) {
                    if (data.result == "1") {
                        $("#C3").text("一轮搜证开始！");
                        $("button").removeClass("btn-off");
                        y.className= "btn-off";
                        clearTimeout(time1);
                    } else {
                        $("#C3").text("一轮搜证未开始，请等待...");
                        time1 = setTimeout(round1, 1000);
                    }
                },
            });
            update_num();
        }, 1000);
    }

    function start_round2() {
        var x = document.getElementById("btn2");
        x.style.background = "white";
        x.style.color = "black";
        setTimeout(function round2(){
            var user_name = $("#u_name").text().trim();
            $.ajax({
                url: "/start_round2/",
                type: "get",
                data: {name_ready_for_2: user_name},
                success: function round2_s(data) {
                        if (data.result=="1") {
                            $("#C3").text("二轮搜证开始！");
                            clearTimeout(time2);
                        } else {
                            $("#C3").text("二轮搜证未开始，请等待...");
                            time2 = setTimeout(round2,1000);
                        }
                    },
            });
            update_num();
        }, 1000);
    }

    function check_round_status() {
        $(document).ready(function(){
            $.get("/check_round_status/", function(data){
                console.log("Start checking the round status...");
                var x = document.getElementById("btn1");
                var y = document.getElementById("btn2");
                x.className = "btn-off";
                y.style.display = "none";
                if (data["round1"][0]==true && data["round1"][1]==false) {
                    x.style.background = "white";
                    x.style.color = "black";
                    y.style.display = "inline";
                    $("#C3").text("一轮搜证未开始，请等待...");
                } else if(data["round1"][0]==true && data["round1"][1]==true
                    && data["round2"][0]==false && data["round2"][1]==false) {
                    x.style.background = "white";
                    x.style.color = "black";
                    y.style.display = "inline";
                    $("#C3").text("一轮搜证开始！");
                    $("button").removeClass("btn-off");
                    y.className= "btn-off";
                } else if(data["round1"][0]==true && data["round1"][1]==true
                    && data["round2"][0]==true && data["round2"][1]==false) {
                    x.style.background = "white";
                    x.style.color = "black";
                    y.style.background = "white";
                    y.style.color = "black";
                    y.style.display = "inline";
                    $("#C3").text("二轮搜证未开始，请等待...");
                } else if(data["round1"][0]==true && data["round1"][1]==true
                    && data["round2"][0]==true && data["round2"][1]==true) {
                    x.style.background = "white";
                    x.style.color = "black";
                    y.style.display = "inline";
                    $("#C3").text("二轮搜证开始！");
                }
                console.log("-----Finish checking the round status-----");
            });
        });
    }

    function find_clue() {
        var ap = parseInt($("#ap").text().trim().slice(4));
        if (ap>1 ) {
            var str_index = event.srcElement.id;
            var btn = document.getElementById(str_index);
            if (btn.className!="btn-off") {
                var index = str_index.charAt(str_index.length-2)+str_index.charAt(str_index.length-1);
                var user_name = $("#u_name").text().trim();
                var p_index = "#clues_in_p"+index;
                var x = document.getElementById("col"+index);
                $.ajax({
                    url: "/find_clue/",
                    type: "get",
                    data: {name_find_clue: user_name, name_place: str_index},
                    success: function (data) {
                        if (data.clue == "error") {
                            alert("不可搜证自己的证据！");
                        } else if (data.clue == "no ap") {
                            alert("AP不足！");
                        } else if (data.clue == "no clue") {
                            alert("已无更多证据！");
                        } else {
                            var clue_index = ($(p_index+" li").length+1).toString();
                            if (clue_index.length<2) {
                                clue_index = "0"+clue_index
                            }
                            var clue_id = index+"p"+clue_index+"c";
                            var release_button_id = index+"p"+clue_index+"b";
                            $(p_index).append($('<li />', {
                                id: clue_id, text: $(p_index+" li").length+1+". "+data.clue,
                                style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-top:10px"}),
                                $('<button />', {
                                    id: release_button_id, text: "公开线索",
                                    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                            {#$(p_index).append($('<button />', {id: release_button_id, text: "公开线索",#}
                            {#    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));#}
                            $(p_index).append("<br>");
                            if (data.hidden == true) {
                                var hidden_button_id = index+"p"+clue_index+"bh";
                                $(p_index).append($('<button />', {
                                    id: hidden_button_id, text: "深入", style: "display:block",
                                    onclick: "hidden_clue()"}));
                            }
                            x.classList.toggle("active");
                            var content = x.nextElementSibling;
                            content.style.maxHeight = content.scrollHeight + "px";
                            update_num();
                        }
                    },
                });
            } else {
                alert("请先点击搜证！");
            }
        } else {
            alert("你的AP点不足！");
        }
    }

    function hidden_clue() {
        var ap = parseInt($("#ap").text().trim().slice(4));
        if (ap>1) {
            var clue_bid = event.srcElement.id;
            var user_name = $("#u_name").text().trim();
            var index = clue_bid.slice(0, 2);
            var x = document.getElementById("col" + index);
            var clue_id = clue_bid.replace("bh", "c");
            if (clue_bid.endsWith("bh")) {
                var clue = $("#" + clue_id).text().trim().slice(4);
            } else {
                var clue = $("#" + clue_id).text().trim();
            }
            $.ajax({
                url: "/hidden_clue/",
                type: "get",
                data: {name_find_clue: user_name, clue_for_hidden: clue},
                success: function (data) {
                    if (data.hidden_clue == "error") {
                        alert("不可搜证自己的证据！");
                    } else if (data.hidden_clue == "no ap") {
                        alert("AP不足！");
                    } else if (data.hidden_clue == "no clue") {
                        alert("已无更多证据！");
                    } else {
                        if (data.hidden_clue!=false) {
                            if ($("#own_clues li:contains("+clue+")").attr("id")!=undefined) {
                                var clue_id = $("#own_clues li:contains("+clue+")").attr("id");
                                var hidden_button_id = clue_id.replace("c", "bh");
                                var hidden_clue_id = clue_id.replace("c", "hc");
                                var hidden_release_button_id = clue_id.replace("c", "bhc");
                                $("#" + hidden_button_id).text("已深入");
                                $("#" + hidden_button_id).after($('<p />', {
                                    id: hidden_clue_id, text: data.hidden_clue,
                                    style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-left:2pc"
                                }));
                                $("#" + hidden_clue_id).after($('<button />', {
                                    id: hidden_release_button_id, text: "公开线索",
                                    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                                $("#" + hidden_release_button_id).after("<br>");
                            } else {
                                var p_index = "#clues_in_p"+index;
                                var clue_index = ($(p_index+" li").length+1).toString();
                                if (clue_index.length<2) {
                                    clue_index = "0"+clue_index
                                }
                                var clue_id = index+"p"+clue_index+"c";
                                var hidden_clue_id = clue_id.replace("c", "hc");
                                var hidden_release_button_id = clue_id.replace("c", "bhc");
                                $(p_index).append($('<li />', {
                                    id: clue_id, text: $(p_index+" li").length+1+". "+clue,
                                    style: "display:inline-block;margin-top:10px"}));
                                $("#" + clue_id).after($('<p />', {
                                    id: hidden_clue_id, text: data.hidden_clue,
                                    style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-left:2pc"}));
                                $("#" + hidden_clue_id).before("<br>");
                                $("#" + hidden_clue_id).after($('<button />', {
                                    id: hidden_release_button_id, text: "公开线索",
                                    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                                $("#" + hidden_release_button_id).after("<br>");
                            }
                            $("#" + clue_bid).text("已深入");
                            x.classList.toggle("active");
                            var content = x.nextElementSibling;
                            content.style.maxHeight = content.scrollHeight + "px";
                        } else {
                            alert("该线索已被深入");
                            $("#" + clue_bid).text("已深入");
                        }
                        update_num();
                    }
                },
            });
        } else {
            alert("你的AP点不足！");
        }
    }

    function update_own_clues() {
        var user_name = $("#u_name").text().trim()
        $.ajax({
            url: "/update_own_clues/",
            data: {id: user_name},
            type: "get",
            success: function (data) {
                console.log("Start updating own clues...");
                var num = Object.keys(data).length;
                var i,j;
                for (i = 1; i <= num; i++) {
                    if (i < 10) {
                        var data_key = "0" + i.toString()
                    } else {
                        var data_key = i.toString()
                    }
                    $("#clues_in_p" + data_key).empty();
                    var x = document.getElementById("col"+data_key);
                    if (data["p" + data_key].length != 0) {
                        for (j = 0; j < data["p"+data_key].length; j++) {
                            if (j+1 < 10) {
                                var clue_index = "0" + (j+1).toString()
                            } else {
                                var clue_index = (j+1).toString()
                            }
                            var clue_id = data_key+"p"+clue_index+"c";
                            var release_button_id = data_key+"p"+clue_index+"b";
                            $("#clues_in_p"+data_key).append($('<li />', {
                                    id: clue_id, text: j+1+". "+data["p"+data_key][j][0][0],
                                    style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-top:10px"}));
                            console.log("get the clue "+data["p"+data_key][j][0][0]);
                            if (data["p" + data_key][j][0][1]==false) {
                                $("#clues_in_p"+data_key).append($('<button />', {
                                    id: release_button_id, text: "公开线索",
                                    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                            } else {
                                $("#clues_in_p"+data_key).append($('<button />', {
                                    id: release_button_id, text: "已公开",
                                    onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                            }
                            console.log("get the right button");
                            $("#clues_in_p"+data_key).append("<br>");
                            if (data["p" + data_key][j][1].length!=0) {
                                if (data["p" + data_key][j][1][0]==false) {
                                    var hidden_button_id = data_key+"p"+clue_index+"bh";
                                    $("#clues_in_p"+data_key).append($('<button />', {
                                        id: hidden_button_id, text: "深入", style: "display:block",
                                        onclick: "hidden_clue()"}));
                                    console.log("get the right button");
                                } else {
                                    var hidden_clue_id = data_key+"p"+clue_index+"hc";
                                    var hidden_release_button_id = data_key+"p"+clue_index+"bhc";
                                    $("#clues_in_p"+data_key).append($('<p />', {
                                        id: hidden_clue_id, text: data["p"+data_key][j][1][0],
                                        style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-left:2pc"}));
                                    console.log("get the hidden clue "+data["p"+data_key][j][1][0]);
                                    if (data["p" + data_key][j][1][1]==true) {
                                        $("#clues_in_p"+data_key).append($('<button />', {
                                            id: hidden_release_button_id, text: "已公开",
                                            onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                                    } else {
                                        $("#clues_in_p"+data_key).append($('<button />', {
                                            id: hidden_release_button_id, text: "公开线索",
                                            onclick: "if (confirm('Are you sure?')) { release_clue(); } else { return false; }"}));
                                    }
                                    console.log("get the right button");
                                    $("#" + hidden_release_button_id).after("<br>");
                                }
                            }
                        }
                    }
                    x.classList.toggle("active");
                    var content = x.nextElementSibling;
                    content.style.maxHeight = content.scrollHeight + "px";
                    console.log("updated "+i+"th place");
                }
                console.log("-----Finish updating own clues-----");
            }
        })
    }

    function release_clue() {
        var clue_bid = event.srcElement.id;
        if (clue_bid.endsWith("bhc") || clue_bid.endsWith("bhcr")) {
            var hidden_clue_id = clue_bid.replace("bhc", "hc");
            var clue = $("#" + hidden_clue_id).text().trim();
            var location_id = "p"+clue_bid.slice(0, 2);
        } else {
            var clue_id = clue_bid.replace("b", "c");
            var clue = $("#" + clue_id).text().trim().slice(4);
            var location_id = "p"+clue_bid.slice(0, 2);
        }
        $.ajax({
            url: "/release_clue/",
            type: "get",
            data: {clue_to_release: clue, location: location_id},
            success: function (data) {
                $("#"+clue_bid).text("已公开");
                if (data.status == "failure") {
                    alert("该线索已被玩家公开");
                }
            },
        });
    }

    function update_revealed_clues() {
        $.ajax({
            url: "/update_revealed_clues/",
            type: "get",
            success: function (data) {
                console.log("Start updating revealed clues...");
                var num = Object.keys(data).length;
                var i,j;
                for (i = 1; i <= num; i++) {
                    if (i < 10) {
                        var data_key = "0" + i.toString()
                    } else {
                        var data_key = i.toString()
                    }
                    var x = document.getElementById("revealed_col"+data_key);
                    $("#revealed_clues_in_p" + data_key).empty();
                    if (data["p"+data_key].length!=0) {
                        for (j = 0; j < data["p"+data_key].length; j++) {
                            if (j+1 < 10) {
                                var clue_index = "0" + (j+1).toString()
                            } else {
                                var clue_index = (j+1).toString()
                            }
                            var revealed_clue_id = data_key+"p"+clue_index+"cr";
                            $("#revealed_clues_in_p"+data_key).append($('<li />', {id: revealed_clue_id, text: data["p"+data_key][j][0],
                                style: "margin-right:20px;margin-bottom:10px;margin-top:10px"}));
                            console.log("get the revealed clue "+data["p"+data_key][j][0]);
                            if (data["p"+data_key][j][1].length!=0) {
                                if (data["p"+data_key][j][1][0]!=false) {
                                    $("#revealed_clues_in_p"+data_key).append($('<p />', {text: data["p"+data_key][j][1][0],
                                        style: "margin-right:20px;margin-bottom:10px;margin-left:2pc"}));
                                    console.log("get the revealed hidden clue "+data["p"+data_key][j][1][0]);
                                } else {
                                    if (data["p"+data_key][j][1][1]==false) {
                                        var revealed_hidden_button_id = data_key+"p"+clue_index+"bhr";
                                        $("#revealed_clues_in_p"+data_key).append($('<button />', {id: revealed_hidden_button_id,
                                            text: "深入", style: "display:block", onclick: "hidden_clue()"}));
                                    } else {
                                        var revealed_hidden_button_id = data_key+"p"+clue_index+"bhr";
                                        $("#revealed_clues_in_p"+data_key).append($('<button />', {id: revealed_hidden_button_id,
                                            text: "已深入", style: "display:block", onclick: "hidden_clue()"}));
                                    }
                                    console.log("get the right button");
                                }
                            }
                        }
                    }
                    x.classList.toggle("active");
                    var content = x.nextElementSibling;
                    content.style.maxHeight = content.scrollHeight + "px";
                    console.log("updated "+i+"th place");
                }
                console.log("-----Finish updating own clues-----");
            },
        });
    };

    function refresh(){
        update_num();
        check_round_status();
        update_own_clues();
        update_revealed_clues();
        expand_all()
    }
    window.onload = refresh;

    function update_num() {
        $(document).ready(function(){
            $.get("/clue_num/", function(data){
                console.log("Start updating clue number...");
                var i, num;
                var key_list = Object.keys(data);
                for (i = 0; i < key_list.length; i++) {
                    num = key_list[i].slice(1,3);
                    $("#p_num"+num).text(data[key_list[i]][0]);
                    $("#p_num_total"+num).text(data[key_list[i]][1]);
                }
                console.log("-----Finish updating clue number-----");
            });
            var user_name = $("#u_name").text().trim();
            console.log("Start updating ap number...");
            $.post("/ap_num/",
                {name: user_name},
                function(data){
                $("#ap").text("AP: "+data.ap);
            });
            console.log("-----Finish updating ap number-----");
        });
    }

    </script>


    <hr>
    <h3 id="C4" style="display: inline-block">证据</h3>
    <button id="expand_all" value="1" onclick="expand_all()">全部展开</button>
    <div>
        <div style="float:left;width:50%" id="own_clues">
            <p>已搜证据</p>
        </div>

        <div style="float:left;width:50%" id="revealed_clues">
            <p style="display: inline-block">公开证据</p>
            <button id="update_revealed_clues" onclick="update_revealed_clues()">刷新公开证据</button>
        </div>
    </div>


<script>
    function expand_all() {
        var coll = document.getElementsByClassName("collapsible");
        var expand_btn = document.getElementById("expand_all");
        var i;
        if (expand_btn.value == "0"){
            for (i = 0; i < coll.length; i++) {
                coll[i].classList.toggle("active");
                var content = coll[i].nextElementSibling;
                content.style.maxHeight = null;
                expand_btn.textContent = "全部展开";
                expand_btn.value = "1";
            }
        } else {
            for (i = 0; i < coll.length; i++) {
                coll[i].classList.toggle("active");
                var content = coll[i].nextElementSibling;
                content.style.maxHeight = content.scrollHeight + "px";
                expand_btn.textContent = "全部收起";
                expand_btn.value = "0";
            }
        }
    }
</script>

    <div style="float:left;width:100%">
        <hr>
        <h3 id="C5">投票</h3>
        <form id="vote" name="my_vote" action="" method="post" onsubmit="return validateForm()">
        </form>
    </div>


    <script>
        $(document).ready(function(){
            $.get("/ch_names/", function(data){
                var i;
                for (i = 0; i < data.ch_names.length; i++) {
                    $("#vote").append($('<input />', {type: "radio", name:"vote",
                        id: data.ch_names[i][0], value: data.ch_names[i][0]}));
                    $("#vote").append($('<label />', {for: data.ch_names[i][0], text: data.ch_names[i][0],
                        style: "margin-left:10px"}));
                    $("#vote").append("<br>");
                }
                $("#vote").append("<br>");
                $("#vote").append($('<input />', {type: "submit",value: "Submit"}));
            });
        });

    function validateForm() {
        var x = document.forms["my_vote"]["vote"].value;
        if (x == "") {
            alert("请选择一名玩家投票！");
            return false;
        } else {
            alert("是否确定最后凶手为："+x+"?");
            return true;
        }
    }
    </script>

    <br>
    </div>
</div>

    <footer>
        <div style="margin-left:20%; padding:10px ;background-color: white;text-align:center;bottom:0;">© copyright Lily Heidi Lucy Mia</div>
    </footer>
</body>
</html>
