<!--
only one msg_info:
{u_name:"lily",
 ch_name:"良星星"}
-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }
        .menu {
            float:left;
            width:20%;
            text-align:center;
        }
        .menu a {
            background-color:#e5e5e5;
            padding:8px;
            margin-top:7px;
            display:block;
            width:100%;
            color:black;
        }
        .main {
            float:left;
            width:100%;
            padding:0 20px;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        @media only screen and (max-width:620px) {
            /* For mobile phones: */
            .menu{
                width:20%;
            } .main{
                width:80%;
            }
        }

        .btn-off {
            background: #555555;
            color: white;
        }

    </style>
</head>

<script>
function hide() {
    var x = document.getElementById("myImage");
    var y = document.getElementById("hideImage");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.value = "隐藏故事"
    } else {
        x.style.display = "none";
        y.value = "展开故事"
    }
}
</script>

<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
    <h1 id="C1">剧本杀2333</h1>
    <p>user id:</p>
        {% if msg_info %}
            <p id="u_name"> {{ msg_info["u_name"] }}</p>
        {% endif %}
        <br>
    <label id="ap">AP: 8</label>
</div>

<div style="position: sticky; top: 0;">
    <div class="menu">
        <a href="#C1">回到顶部</a>
        <a href="#C2">故事</a>
        <a href="#C3">搜证</a>
        <a href="#C4">证据</a>
    </div>
</div>

<div style="overflow:auto">
    <div class="main">
    <h2>角色🎭</h2>
    {% if msg_info %}
        <div id="ch_name">{{ msg_info["ch_name"] }}</div>
    {% endif %}

    <h3 id="C2">故事</h3>
    <input type="button" id="hideImage" value="展开故事" onclick="hide()">
    <img id="myImage" src="{{ url_for("static", filename=msg_info["ch_name"]+".jpg") }}" alt="story" style="display:none;">
    <hr>

    <h3 id="C3">搜证</h3>
    <button id="btn1" class="btn-off" onclick="if (confirm('Are you sure?')) { start_round1(); } else { return false; }">一轮搜证</button>
    <button id="btn2" class="btn-off" onclick="if (confirm('Are you sure?')) { start_round2(); } else { return false; }" style="display:none;">二轮搜证</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function start_round1() {
        var x = document.getElementById("btn1");
        var y = document.getElementById("btn2");
        x.style.background = "white";
        x.style.color = "black";
        y.style.display = "inline";
        setTimeout(function round1() {
            var user_name = $("#u_name").text().trim();
            $.ajax({
                url: "/start_round1/",
                type: "get",
                data: {name_ready_for_1: user_name},
                success: function round1_s(data) {
                    if (data.result == "1") {
                        $("#C3").text("一轮搜证开始！");
                        $("#p01, #p02, #p03").removeClass("btn-off");
                        clearTimeout(time1);
                    } else {
                        $("#C3").text("搜证未开始，请等待...");
                        time1 = setTimeout(round1, 1000);
                    }
                },
            });
        }, 1000);
    }

    function start_round2() {
        var x = document.getElementById("btn2");
        x.style.background = "white";
        x.style.color = "black";
        setTimeout(function round2(){
            var user_name = $("#u_name").text().trim();
            $.ajax({
                url: "/start_round2/",
                type: "get",
                data: {name_ready_for_2: user_name},
                success: function round2_s(data) {
                        if (data.result=="1") {
                            $("#C3").text("二轮搜证开始！");
                            clearTimeout(time2);
                        } else {
                            $("#C3").text("搜证未开始，请等待...");
                            time2 = setTimeout(round2,1000);
                        }
                    },
            });
        }, 1000);
    };

    function find_clue() {
        var str_index = event.srcElement.id;
        var index = str_index.charAt(str_index.length-2)+str_index.charAt(str_index.length-1);
        var user_name = $("#u_name").text().trim();
        var p_index = "#clues_in_p"+index;
        var x = document.getElementById("col"+index);
        $.ajax({
            url: "/find_clue/",
            type: "get",
            data: {name_find_clue: user_name, name_place: str_index},
            success: function (data) {
                var clue_index = ($(p_index+" li").length+1).toString();
                if (clue_index.length<2) {
                    clue_index = "0"+clue_index
                }
                var clue_id = index+"p"+clue_index+"c";
                var release_button_id = index+"p"+clue_index+"b";
                $(p_index).append($('<li />', {id: clue_id, text: clue_index+". "+data.clue,
                    style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-top:10px"}));
                $(p_index).append($('<button />', {id: release_button_id, text: "公开线索"}));
                //$(p_index).append("<br>");
                if (data.hidden == true) {
                    var hidden_button_id = index+"p"+clue_index+"bh";
                    $(p_index).append($('<button />', {id: hidden_button_id, text: "深入", style: "display:block",
                    onclick: "hidden_clue()"}));
                }
                x.classList.toggle("active");
                var content = x.nextElementSibling;
                content.style.maxHeight = content.scrollHeight + "px";
            },
        });
    };

    function hidden_clue() {
        var clue_bid = event.srcElement.id;
        var user_name = $("#u_name").text().trim();
        var clue_id = clue_bid.replace("bh","c");
        var clue = $("#"+clue_id).text().trim().slice(4);
        var index = clue_bid.slice(0,2);
        var x = document.getElementById("col"+index);
        $.ajax({
            url: "/hidden_clue/",
            type: "get",
            data: {name_find_clue: user_name, clue_for_hidden: clue},
            success: function (data) {
                if (data.hidden_clue != false) {
                    var hidden_clue_id = clue_bid.replace("h","c");
                    var hidden_release_button_id = clue_bid.replace("bh","bhc");
                    $("#"+clue_bid).after($('<p />', {id: hidden_clue_id, text: data.hidden_clue,
                    style: "display:inline-block;margin-right:20px;margin-bottom:10px;margin-left:2pc"}));
                    $("#"+hidden_clue_id).after($('<button />', {id: hidden_release_button_id, text: "公开线索"}));
                    $("#"+hidden_release_button_id).after("<br>");
                    $("#"+clue_bid).text("已深入");
                    x.classList.toggle("active");
                    var content = x.nextElementSibling;
                    content.style.maxHeight = content.scrollHeight + "px";
                } else {
                    alert("该线索已被深入")
                    $("#"+clue_bid).text("已深入");
                }
            },
        });
    };

    $(document).ready(setInterval(function(){
        $("*").mouseenter(function(){
            $.get("/clue_num/", function(data){
                $("#p_num1").text(data.p1[0]);
                $("#p_num_total1").text(data.p1[1]);
                $("#p_num2").text(data.p2[0]);
                $("#p_num_total2").text(data.p2[1]);
                $("#p_num3").text(data.p3[0]);
                $("#p_num_total3").text(data.p3[1]);
            });
        });
    },1000));
    </script>


    <ul>
        <li><p id="p_name1" style="display:inline">房间</p>
            <p id="p_num1" style="display:inline"></p>/
            <p id="p_num_total1" style="display:inline"></p>
            <button id="p01" type="text" class="btn-off" onclick="find_clue()">搜证</button></li>
        <li><p id="p_name1" style="display:inline">客厅</p>
            <p id="p_num2" style="display:inline"></p>/
            <p id="p_num_total2" style="display:inline"></p>
            <button id="p02" type="text" class="btn-off" onclick="find_clue()">搜证</button></li>
        <li><p id="p_name1" style="display:inline">厨房</p>
            <p id="p_num3" style="display:inline"></p>/
            <p id="p_num_total3" style="display:inline"></p>
            <button id="p03" type="text" class="btn-off" onclick="find_clue()">搜证</button></li>
    </ul>

    <hr>
    <h3 id="C4">证据</h3>
    <div>
        <div style="float:left;width:50%">
            <p>已搜证据</p>
            <button id="col01" class="collapsible">地点1</button>
            <div class="content">
                <ol id="clues_in_p01">
                </ol>
            </div>
            <button id="col02" class="collapsible">地点2</button>
            <div class="content">
                <ol id="clues_in_p02">
                </ol>
            </div>
            <button id="col03" class="collapsible">地点3</button>
            <div class="content">
                <ol id="clues_in_p03">
                </ol>
            </div>
        </div>

        <div style="float:left;width:50%">
            <p>公开证据</p>
            <button class="collapsible">地点1</button>
            <div class="content">
                <ol>
                    <li>证据</li>
                    <li>证据</li>
                </ol>
            </div>
            <button class="collapsible">地点2</button>
            <div class="content">
                <ol>
                    <li>证据</li>
                    <li>证据</li>
                </ol>
            </div>
            <button class="collapsible">地点3</button>
            <div class="content">
                <ol>
                    <li>证据</li>
                    <li>证据</li>
                </ol>
            </div>
        </div>
    </div>
    <hr>
    <br>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
    });
}
</script>

    </div>
</div>

    <footer>
        <div style="margin-left:20%; padding:10px ;background-color: white;text-align:center;bottom:0;">© copyright Lily Heidi Lucy Mia</div>
    </footer>
</body>
</html>
