<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-image: url("{{ url_for("static", filename="images/background_welcome.gif") }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.button {
    position: absolute;
    top: 75%;
    left: 47%;
    padding: 15px 32px;
    border-radius: 10px;
}

@media only screen and (max-width:620px) {
/* For mobile phones: */
body {
    background-position: center;
}
.button{
    position: center;
}
}
</style>
</head>

<body>
<form action="" method="post">
    <button class="button" name="togame" value="1" onclick="this.form.submit()">
    START
    </button>
</form>

</body>
</html>