<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-image: url('https://i.pinimg.com/originals/82/c7/6f/82c76fa6f52b7eb63919e529f95a7726.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.button {
    position: absolute;
    top: 75%;
    left: 47%;
    padding: 15px 32px;
    border-radius: 10px;
}
</style>
</head>

<body>
<form action="" method="post">
    <button class="button" name="togame" value="1" onclick="this.form.submit()">
    START
    </button>
</form>

</body>
</html>